.navbarContainer {
 align-items: flex-start;
}

.navLink {
  padding-right: 20px;
}

.navbarNav .navLink {
  margin-right: 1.2rem;
  font-size: 1.1rem;
}

.navbarNav {
  justify-content: flex-end;
}

.hiddenButton {
  background-color: transparent;
  border: none;
  color: inherit;
}

@media (max-width: 822px) {
  .navbarContainer {
    margin-left: 0.8rem;
    align-items: flex-end;
  }
  .navbarNav .navLink {
    font-size: 0.9rem;
    padding-right: 0;
  }
  .navLink {
    padding-right: 0px;
  }

}
