footer {
  display: block;
  color: aliceblue;
  overflow: hidden;
}

.footerLogo {
  width: 78px;
  height: auto;
}

.footerFrame{
  max-height: 12rem;
  overflow: hidden;
}

.footerColumn{
  word-break: break-all;
}

@media (max-width: 822px) {
  p {
    font-size: 0.9rem;
  }
}
/* @media (max-width: 380px) {
  .footerIframe {
    width: auto;
    height: auto;
  }
} */
