.centerForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
  }
.midLine {
  width: 50%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}