.cocktailImage {
  max-width: auto;
}
.cocktailbar {
  display: flex;
  align-items: row;
  text-align: center;
}
.cocktailNames {
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 400px) {
  .cocktailNames {
    font-size: 0.5rem;
  }
}
@media (max-width: 760px) {
  .cocktailNames {
    font-size: 0.8rem;
  }
}
@media (max-width: 990px) {
  .cocktailNames {
    font-size: 0.9rem;
    padding: 0;
  }
  .cocktailbar {
    padding: 0;
  }
}
